@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import "tailwindcss";
:root {
    --color-primary: #F7EAC6;
    --color-secondary: #393939;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
    /* default is 16px */
    scroll-behavior: smooth;
}

